.headerSearchWidget form .formControl {
  background-color: #edeff7;
  border-radius: 25px;
  font-family: 'Nunito';
  font-size: 14px;
  height: 48px;
  padding-left: 30px;
  margin-top: 6px;
  width: 450px;
  border: none;
}

.headerSearchWidget form {
  display: flex;
  align-items: center;
}

.headerSearchWidget form button {
  border: none;
  border-radius: 50%;
  font-size: 24px;
  margin-left: -45px;
  margin-top: 5px;
}

.headerSearchWidget form .formControl:focus,
.headerSearchWidget form button:active,
.headerSearchWidget form button:focus {
  outline: none;
}

.headerSearchWidget form button {
  cursor: pointer;
}
